<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OsmanSorkar_Blog::blog_content" title="Blog" module="OsmanSorkar_Blog" sortOrder="50" parent="Magento_Backend::content" resource="OsmanSorkar_Blog::blog_content" />
        <add id="OsmanSorkar_Blog::blog" title="Posts" module="OsmanSorkar_Blog" sortOrder="0" parent="OsmanSorkar_Blog::blog_content" action="blog/post" resource="OsmanSorkar_Blog::blog"/>
    </menu>
</config>
